<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>First Express</title>
</head>
<body>
    <h1>Kitchen Orders</h1>
    <ul>
        <% orders.forEach(function(t) { %>
            <li>
                <%= t.order %>
                 - 
                <%= t.done ? 'done' : 'not done' %>
            </li>

        <% }); %>
    </ul>
</body>
</html>